@{
    ViewBag.Title = "About";

}
<body style="background-image:url('https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg')">

    <link href="~/Content/about.css" rel="stylesheet" />
    <br />
    <h1 align="center">The Renting Revolution Is Here! </h1>
    <br /><br />
          <div class="row">
              <div class="containers col-lg-6 col-md-6">
                  <div class="pic"></div>
              </div>

              <div class="content col-md-offset-6 col-lg-offset-6">

                  <br />   <h2>&#9829; FASHION FREEDOM</h2>
                  <p> You've got 100,000s of options at your finger  tips. <br /> Try new things, have more fun and <i>go for it.</i></p>


                  <h2>&#9829; TOTAL WARDROBE FLEXIBILITY</h2>
                  <p> Let's be real: your style, size and budget change <br /> over time.Now, your closet can too.</p>


                  <h2>&#9829; SMARTER CLOSET</h2>
                  <p>
                      Imagine a closet that has <i>exactly</i> what you want.<br />
                      Takes up no space.And does all your dry cleaning.
                  </p>


                  <h2>&#9829; SMALLER CLOTHING FOOTPRINT</h2>
                  <p> Clothes end up in the back of closets or landfills.<br />Power the sharing economy and rent instead</p>


              </div>
          </div>
</body>



