@{
    ViewBag.Title = "Home Page";


}


<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Document text nou.css" rel="stylesheet" />
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<link href="~/Content/imagini/carousell.css" rel="stylesheet" />



<div>
    <div class="row">
        <div id="carousel" class="carousel carousel-fade slide" data-interval="2000" data-ride="carousel" data-pause="hover" data-wrap="true">

            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
                <li data-target="#carousel" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox">

                <div class="item active background a">


                </div>


                <div class="item background b">


                </div>


                <div class="item background c">


                </div>

                <div class="item background d">


                </div>
                <div class="item background e">


                </div>
            </div>
            <div class="item background f">


            </div>
        </div>
        <div class="covertext">
            <div class="col-lg-10" style="float:none; margin:0 auto;">
                <h1 class="title">DRESSESLINE</h1>
                <h2 class="subtitle">Welcome ladies!</h2>
                <h3 class="subtitle">Rent the perfect dress!</h3>
            </div>

        </div>

    </div>
</div>



