
@{
    ViewBag.Title = "Portofolio";
}






<br /><br><br />
          <h2>Portofolio</h2>
<link href="~/Content/imagini/Portofolio.css" rel="stylesheet" />
<script src="~/Scripts/Portofolio.js"></script>



<div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('formal')"> Formal</button>
    <button class="btn" onclick="filterSelection('cocktail')"> Cocktail</button>
    <button class="btn" onclick="filterSelection('party')"> Party</button>
    <button class="btn" onclick="filterSelection('daytime')"> Daytime</button>
    <button class="btn" onclick="filterSelection('work')"> Work</button>
    <button class="btn" onclick="filterSelection('weekend')"> Weekend</button>
</div>


<div class="row">

    <div class="column formal">
        <div class="content">

            
            <img src="~/Content/formaldresses/ALC89.jpg" alt="Blue Kennedy Wrap Dress" style="width:100%">
            <h4>Blue Kennedy Wrap Dress</h4>
            <p></p>
        </div>
    </div>
    <div class="column formal">
        <div class="content">
            
            <img src="~/Content/formaldresses/MN171.jpg" alt="Lilly Pulitzer" style="width:100%">
            <h4>Lilly Pulitzer</h4>
            <p></p>
        </div>
    </div>
    <div class="column formal">
        <div class="content">
            
            <img src="~/Content/formaldresses/MN172.jpg " alt="Ramy Brook" style="width:100%">
            <h4>
                Ramy Brook
            </h4>
            <p></p>
        </div>
    </div>
    <div class="column formal">
        <div class="content">
           
            <img src="~/Content/formaldresses/SA134.jpg" alt="Bailey 44" style="width:100%">
            <h4>
                Bailey 44
            </h4>
            <p></p>
        </div>
    </div>

    <div class="column cocktail">
        <div class="content">

            <img src="~/Content/cocktaildresses/HA368.jpg"  alt="Marissa Webb" style="width:100%">
            <h4>
                Marissa Webb
            </h4>
            <p></p>
        </div>
    </div>
    <div class="column cocktail">
        <div class="content">
            
            <img src="~/Content/cocktaildresses/JS146.jpg"  alt="ba&sh" style="width:100%">
            <h4>
                ba&sh
            </h4>
            <p></p>
        </div>
    </div>
    <div class="column cocktail">
        <div class="content">
            
            <img src="~/Content/cocktaildresses/MNL247.jpg" alt="Three Floor" style="width:100%">
            <h4>
                Three Floor
            </h4>
            <p></p>
        </div>
    </div>
    <div class="column cocktail">
        <div class="content">

            <img src="~/Content/cocktaildresses/STS67.jpg" alt="SALONI" style="width:100%">
            <h4>
                SALONI
            </h4>
            <p></p>
        </div>
    </div>

    <div class="column party">
        <div class="content">

            <img src="~/Content/partydresses/ELT58.jpg" alt="Paper Crown" style="width:100%">
            <h4>
                Paper Crown
            </h4>
            <p></p>
        </div>
    </div>
    <div class="column party">
        <div class="content">

            <img src="~/Content/partydresses/IRO24.jpg" alt="Tome" style="width:100%">
            <h4>
                Tome
            </h4>
            <p></p>
        </div>
    </div>
    <div class="column party">
        <div class="content">
            
            <img src="~/Content/partydresses/IRO26.jpg"  alt="Tome" style="width:100%">
            <h4>
                Tome
            </h4>
            <p></p>
        </div>
    </div>
    <div class="column party">
        <div class="content">

            <img src="~/Content/partydresses/RRC10.jpg" alt="Tome" style="width:100%">
            <h4>
                Tome
            </h4>
            <p></p>
        </div>
    </div>
    <div class="column daytime">
        <div class="content">

            <img src="~/Content/daytimedresses/BH75.jpg" alt="Tome" style="width:100%">
            <h4>
                Tome
            </h4>
            <p></p>
        </div>
    </div>
    <div class="column daytime">
        <div class="content">
            
            <img src="~/Content/daytimedresses/JG120.jpg" alt="Monet" style="width:100%">
            <h4>Monet</h4>
            <p></p>
        </div>
    </div>
    <div class="column daytime">
        <div class="content">
           
            <img src="~/Content/daytimedresses/RG6.jpg" alt="Monet" style="width:100%">
            <h4>Monet</h4>
            <p></p>
        </div>
    </div>
    <div class="column daytime">
        <div class="content">

            <img src="~/Content/daytimedresses/SLR73.jpg" alt="Monet" style="width:100%">
            <h4>Monet</h4>
            <p></p>
        </div>
    </div>
    <div class="column work">
        <div class="content">

            <img src="~/Content/workdresses/AMU98.jpg"  alt="Grecian" style="width:100%">
            <h4>Grecian</h4>
            <p></p>
        </div>
    </div>
    <div class="column work">
        <div class="content">

            <img src="~/Content/workdresses/NM299.jpg"  alt="Grecian" style="width:100%">
            <h4>Grecian</h4>
            <p></p>
        </div>
    </div>
    <div class="column work">
        <div class="content">

            <img src="~/Content/workdresses/SAL31.jpg"  alt="Grecian" style="width:100%">
            <h4>Grecian</h4>
            <p></p>
        </div>
    </div>
    <div class="column work">
        <div class="content">
           
            <img src="~/Content/workdresses/TE86.jpg" alt="Grecian" style="width:100%">
            <h4>Grecian</h4>
            <p></p>
        </div>
    </div>
    <div class="column weekend">
        <div class="content">
            
            <img src="~/Content/weekenddresses/CY14.jpg"  alt="Picasso" style="width:100%">
            <h4>Picasso</h4>
            <p></p>
        </div>
    </div>
    <div class="column weekend">
        <div class="content">

            <img src="~/Content/weekenddresses/LDT21.jpg" alt="Picasso" style="width:100%">
            <h4>Picasso</h4>
            <p></p>
        </div>
    </div>
    <div class="column weekend">
        <div class="content">
           
            <img src="~/Content/weekenddresses/LSH10.jpg"  alt="Picasso" style="width:100%">
            <h4>Picasso</h4>
            <p></p>
        </div>
    </div>
    <div class="column weekend">
        <div class="content">

            <img src="~/Content/weekenddresses/RMB12.jpg"  alt="Picasso" style="width:100%">
            <h4>Picasso</h4>
            <p></p>
        </div>
    </div>
    <div class="column weekend">
        <div class="content">

            <img src="~/Content/weekenddresses/WVG35.jpg" alt="Picasso" style="width:100%">
            <h4>Picasso</h4>
            <p></p>
        </div>
    </div>

</div>



