

@{

                ViewBag.Title = "Register with lists";
}

<div class="navbar-nav">
    <ul class="nav navbar-nav">
     
        <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
        <li>@Html.ActionLink("Dresses", "Index", "Dresses")</li>
        <li>@Html.ActionLink("Rentals", "Index", "Rentals")</li>
    </ul>
</div>

